html,body{
    overflow:hidden;
}
.fine-form{
    float:right;
    margin-top:11%;
    width:71.4%;
    padding:1% 2%;
    padding-bottom:8%;
    height:100%;
    background:#fff;
    border-bottom:1px solid #ccc;
}
.fine-form  h2{
    color:#444;
    padding:2% 0;
    height:50px;
    vertical-align:middle;
    border-bottom:1px solid #ddd;
}
.fine-form  h2 button{
    background:none;
    position:absolute;
    padding:0.6%;
    margin-top:0%;
    margin-left:5%;
    cursor:pointer;
    background:#ddd;
    border:none;
    outline:none;
}
.fine-form  h2 input{
   position:absolute;
    padding:0.95%;
    margin-left:9%;
    width:30%;
    font-size:60%;
    border:none;
    background:#ddd;
}


.fine-form  h2 button i{
    padding:0;
    margin:0;
color:#555;
}
.fine-form > ul{
    position:absolute;
    margin-left:18.6%;
    margin-top:-3%;
    list-style:none;
    padding:0;
    width:10%;
    display:none;
    background:#eee;
    box-shadow:0 1px 2px 1px #bbb;
}
.fine-form ul li{
    cursor:pointer;
    padding:8% 15%;
    width:70%;
    font-size:80%;
}
.fine-form ul li:hover {
    background:#ddd;
    }
.fine-form ul li i{
    color:#555;
    padding:0 10%;
    font-size:100%;
}
.fine-form h5{
    text-align:center;
    font-size:100%;
    color:gray;
    font-weight:normal;
}
.fine-form h5 i{
    color:#ccc;
    font-size:300%;
}


.fine-form  table{
    width:100%;
    border-collapse:collapse;
}

.fine-form  table tr td label{
     margin:2%;
    font-size:50%;
    color:gray;
}
.fine-form  table tr{
    border-bottom:1px solid #ddd;
}
.fine-form table tr td{
    width:33%;
    padding:2%;
    font-size:80%;
    font-weight:600;
}

.fine-form table tr td:nth-child(2){
    text-align:right;
      color:#444;
}